In [1]:

import numpy as np
import random as rn 
import pandas as pd
import seaborn as sns

In [2]:
products =pd.read_csv('products.csv')
products.head()

  product_name  red  orange  sweet  spicy  round  spiky  has_seeds  soft
0      paprika    1       1      1      1      1      1          1     0
1       tomato    1       0      1      0      1      0          1     1
2        onion    1       0      1      1      1      0          0     0
3       carrot    0       1      1      0      0      1          0     0

In [3]:
# 1. stwórz zbiór z 4 produktami i zbiór z 8 cechami
# 2. stwórz tabele cech każdego produktu i wypełnij ją
# 3. stwórz przykładowe zapytanie
# 4. Wylicz najbardziej pasujący do zapytania produkt na podstawie:
# max(Sum(waga_z_pytania_*waga_produktu))

In [4]:
request=[0.2,0.2,0.1,0.1,0.15,0.15,0.05,0.05]

In [5]:
class SoftSet:
    @staticmethod
    def calculate_soft_set_query(soft_set, query):
        products=soft_set
        request=query
        result_df = products
        results=[]
        for values in result_df.select_dtypes(exclude=["object"]).values:
            single_result=0
            for product_wage,request_wage in zip(values,request):
                single_result+= product_wage*request_wage
            results.append(single_result)
        result_df["fuzzy_result"]=results
        display(result_df)
        display(result_df.loc[result_df['fuzzy_result'].idxmax(),"product_name"])

SoftSet.calculate_soft_set_query(products, request)

,product_name,red,orange,sweet,spicy,round,spiky,has_seeds,soft,fuzzy_result
0,paprika,1,1,1,1,1,1,1,0,0.95
1,tomato,1,0,1,0,1,0,1,1,0.55
2,onion,1,0,1,1,1,0,0,0,0.55
3,carrot,0,1,1,0,0,1,0,0,0.45

'paprika'

In [6]:
#TODO: przenieść cały proces na irysy
#1. normalnie można używać przedziałów, ale na zajęciach trzeba to robić na wartościach bitowych, wieć zaokroąglamy
#(albo zwyczajnie albo według rozkładu) do zer i jedynek wszystkie wartości
#2.wykonujemy cały algorytm na irysach